.sidebar{
    width: 50px;
    z-index: 11;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    align-items: center;
}

.sidebar a {
    padding: 20px 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    color: #dfdede;
}
