.slider {
  position: relative;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

.image {
  width: 400px;
  height: 250px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 12%;
  font-size: 20px;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 12%;
  font-size: 20px;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.imageTitle {
  position: absolute;
  background-color: red;
  color: white;
  min-width: 400px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  bottom: 0.5px;
}