.mini-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #8FBC8B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid black;
}

.mini-slider {
    position: sticky;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
  
.image-slider {
    display: block;
    border-radius: 10px;
}
  
.right-arrow-slider {
    position: absolute;
    top: 50%;
    right: -26%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    z-index: 9;
    cursor: pointer;
    user-select: none;
}
  
.left-arrow-slider {
    position: absolute;
    top: 50%;
    left: -5%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    z-index: 9;
    cursor: pointer;
    user-select: none;
}
  
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
  
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    max-width: 80%;
}
  
.texto{ 
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}